/* -------------------------------------------------------------- 
   Reset
-------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, h7, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, high, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol,ul {	list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

body {background-color:#287171; font-family: helvetica;}

/* -------------------------------------------------------------- 
   URLs
-------------------------------------------------------------- */
a:link, a:visited, a:hover, a:active { font-weight: bold; text-decoration:none; color: #b89577; }
  
/* -------------------------------------------------------------- 
   Typography
-------------------------------------------------------------- */
/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.75 * 16px = 12px). */
body { font-size: 75%; }

/* -------------------------------------------------------------- 
   Headings
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,high {  color:#B87877; font-weight:normal;}

h1 { font-size:2.3em; }
h2 { font-size: 1.8em;  }
h3 { font-size: 1.5em; color:#B8615F;  }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { color:black; padding-top:4px; padding-left:15px; font-size:1.8em; }

center { text-align:center; }
li { list-style-type: disc; color: white; }
strong { font-weight: bold;}
white { color:white; }
wrap {white-space: nowrap; } 
high { color:#B8615F; font-size:1.1em; }

l1 { padding-left: 20px; }
l2 { padding-left: 50px; }

t1 { padding-top: 4px; }

r1 { padding-left: 10px; }
r2 { padding-left: 50px; }

/* -------------------------------------------------------------- 
   Classes
-------------------------------------------------------------- */
.extrasmall, .small, .smallplus, .medium, .large, .extralarge, .huge, .listings, .logo, #footer, .menu { width:100%; margin-top:4px; }
.medium, .large, .extralarge, .huge, .noheight { background-color:#562d2c }
.small, .smallplus, .listings, .footer { background-color:#412929; }

.container { margin: 0 auto;  margin-top: -4px; width:800px; background-color:#380F0E; overflow:hidden; }

.extrasmall { height:30px; background-color:#3366cc;  }
.small { height:60px; }
.smallplus { height: 90px; }
.medium { height: 125px; }
.darkback { overflow:hidden; width: 800px; background-color:#370F0E; }
.large { height:200px; overflow:hidden;}
.extralarge {height:300px; overflow:hidden; }
.huge { height:600px; }
.logo { background:url('http://ahhyes.org/images/menu.png'); height:124px; }
.listings { clear:both; height: 65px; }
.footer {clear:both; height: 50px; width:800px; margin:0 auto; margin-top:4px; padding-top:px; text-align:center; clear:left; }
.noheight { overflow:hidden; clear:both; margin-top:4px; }
.pad { padding-top:10px; padding-left:20px; }

/* -------------------------------------------------------------- 
   DIVs
-------------------------------------------------------------- */
#left, #mid, #right { margin-top:5px; text-align:center; }
#fleft, #fright { padding-top:10px; }

#box { display:inline-block; height:10px; width:10px; background-color:black; }
#box2{ position:absolute; bottom:0; left: 0; display:inline-block; height:10px; width:10px; background-color:black; }
#fleft { float: left; width: 200px; margin-left: -800px; }
#fmid { margin: 0 200px 0 200px; }
#fright { float:left; width: 200px; margin-left: -200px; }
#halfbar{ margin-top: 4px; margin-bottom:4px; clear:both; width:240px; height:30px; float:left; background-color:#76A179}
#halfleft { float:left; width:200px; background-color:#562d2c;}
#halfleft h1 { padding-left:10px; }
#halfright { float:right; width:600px;  background-color:#402929; padding-bottom:10px; }
#halfright h4 { margin-bottom:20px; }
#inlarge {padding-left: 50px; padding-right: 50px;  margin: 0 auto;}
#inlarge h2 { font-weight:  bold; }
#inlarge h3 { padding-top: 20px; }
#largeleft { text-align:right; float:left; padding-top:1%; width: 220px;}
#largeleft h3 { padding-top:6px; }
#largeright { text-align:left;float:right; padding-top:1%;  padding-right:50px; width:400px; }
#left, #mid, #right { margin-top:4px }
#left{  height:61px; position: relative; float:left; width:250px; margin-left: -800px; }
#mid {  margin: 0 350px 0 250px; margin-top:4px; background-color:#8A6665; height:57px; border-bottom-left-radius:2px; border-top-left-radius: 2px; }
#mid h3, #right h3 { color:white; padding-top:5px;  }
#right {   float:left; width:344px; margin-left:-349px; background-color:#B87877;  height:57px; border-bottom-right-radius:2px; border-top-right-radius: 2px;}
#search { margin-top: 4px; margin-bottom:4px; clear:both; width:240px; height:55px; float:left; background-color:#76A179; }
#quote {width:50%; margin: 0 auto; padding-top: 10px; }
#wrapper { float: left; width: 100%}

.edit { position:absolute; bottom:0; right:0; }
/* -------------------------------------------------------------- 
   Nav Bar
-------------------------------------------------------------- */

.menu { font:13px/27px helvetica; color:#3366cc; height:30px; background:#719899; }
.menu a:hover { background-color:#5C7273; color:black; }
.menu a { text-decoration:none; padding:6px 8px 7px; color:black; outline:none; }
.menu ul{ list-style:none; margin:0; padding:0 0 0 10px; } .menu ul li{ list-style-type: none; padding-left:100px; float:left; }
.menu ul li ul li { padding:0; float:none; margin:0 0 0 0px; width:100%; }
.menu ul li ul { position:absolute; margin-top:-1px; display:none; padding:0px 16px 0px 0; }
.active ul { display:block !important; }
.single ul { display:block !important; }
.active a { background-color:black; border:1px solid #551e1d; border-bottom:0; display:block; height:29px; padding:0 8px 0 8px; position:relative; z-index:1; color:#B87877; }
.active a:hover{ background-color:#5C7273; color:black; }
.active ul a{ border:0 !important; /*box-shadow*/ -webkit-box-shadow:0 0 0 #CCCCCC; -moz-box-shadow:0 0 0 #CCCCCC; box-shadow:0 0 0 #CCCCCC; border:0; width:100%; }



 input{   
  border: none;
  background-color: #2d0000;
  color: white;
  font-size: 14px;
}
textarea{
  border: none;
  background-color: #2d0000;
  color: white;
  font-size: 14px;
}
button {width:142px; height:44px;}