/*###################################################################
#  CSS NOTES
#		
#
#
####################################################################*/
/* -------------------------------------------------------------- 
   Reset
-------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, h7, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, span,
dl, dt, dd, high, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol,ul {	list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a:link, a:visited, a:hover, a:active { text-decoration:none; color:inherit; font-weight:;}
body { background-color:#EEEEDD; }

/*#########################
# COLORS:
# Light Yellow: #EEEEDD
# Violet: #7c3a61
# Baby Blue: #e0eff1
# Nav Blue: #ccddcc
# Dark Blue: #559999
# Dark Grey: #444444
# Light Red: #ff2255
#########################*/

/****************
 - Classes
****************/
.clear { clear:both; }
.cont { width:50%; margin:0 auto; }
.contmini { width:30%;  margin: 0 auto;}
.block { height:50px; margin:0 auto; }
.border { width:100%; height:100%; padding-left:20px; padding-right:20px; border-color: black; border-width:2px; border-right-style:solid; border-left-style:solid;}
.buttons { float:left; width:30%; }
.heading { height:35px; background-color:#cbe3e4; padding-left:20px; padding-top:5px; }
.holder { margin:0 auto; }
.info { width:100%; margin-bottom:10px; background-color:#acb8b9; float:right; text-align:left; }
.nav { width:100%; margin:0 auto;}
.padbox { padding:10px; }
.space { height:25px; margin:0 auto; }
.square { text-align:center; float:left; width:300px; margin-right:20px; margin-top:10px; }
.lines { text-align: center; margin-top:20px;  padding-top:20px; border:1px; border-top-style:dashed; border-color:black; }
/****************
 - IDs
****************/
#l1, #r1, #body { background-color: #e0eff1; }

#body { margin: 0 auto; padding-bottom:20px; width:100%;}
#buttongreen { width:71px; margin-right:20px; height:71px; float:left; background:url('images/circleGreen.png'); }
#buttonholder { margin-top:20px; padding-left:60px;}
#buttontext { padding-top:20px;  }
#buttonred { width:71px; margin-right:20px; height:71px; float:left; background:url('images/circleRed.png'); }
#logo { width:100%; padding-top:20px; border:2px; border-style:solid; background-color:#e0eff1; padding-bottom:20px; margin:0 auto; }
#l1 { float:left; min-height:140px; }
#l2 { float:left; margin-left:100px; text-align:center;}
#navbutton { float:right; background-color:#ccddcc; min-width:90px; margin-left:18px; text-align:center; }
#navbutton2 { float:left; background-color:#e0eff1; min-width:90px;  text-align:center; }
#r1 { float:right; min-height:140px; padding-top:10px; text-align:center;  }

/****************
 - Text
****************/
@font-face { font-family: precur; src: url('fonts/simplicity.ttf');}
@font-face { font-family: caviar; src: url('fonts/Maritime_Tropical_Neue.ttf');}
h1 { font-size:5em; font-family:precur; color:#ff2255; text-align:center;}
h2 { font-size:2.5em; font-family:caviar; color:black; }
h3 { font-size:1.8em; font-family:caviar; color:black; font-weight:bold;}
h4 { font-size:4em; font-family: caviar; color:#7c3a61;}
h5 { font-size:2em; font-family:caviar; color:black; font-weight:bold;}
h6 { font-size:1.5em; font-family:caviar; color:black; }
h1,h2,h3,h4,h5,h6 { }
/****************
 - Span
****************/
.large { font-size:4em; font-family:caviar; color:black; }
.mediumlarge { font-size:2.3em; font-family:caviar; color:black; }
.mediummed { font-size:1.7em; font-family:caviar; color:black;}
.medium { font-size:1.5em; font-family:caviar; color:black; }
.smallmed { font-size: 1.3em; font-family:caviar; color:black; }
.small { font-size:.7em;}
.red { color: #ff2255; }
.warn { color:#005055; float:right; font-size:.35em; padding-top:20px;}

/****************
 - Form
****************/
input,textarea { padding-top:5px; padding-left:5px; font-size: 30px; line-height: 1.5em; margin-top:5px; background-color:#EEEEDD; font-family:caviar; color:black; width:100%; }
input[type=text],input[type=password] { border:1px; border-style:solid; border-color:black; border-radius:5px; }

button, input[type=submit] { color:black; width:95px; height:40px; margin-top:5px; font-size: 26px; font-family: caviar; font-weight:bold; border-color:grey; border-width:1px; border-style:solid; border-radius:3px;  background-color:#cfdddf;}
select {-webkit-appearance: none; padding-top:5px; padding-left:5px; font-size: 22px; line-height: 1.5em; width:200px; margin-top:5px; background-color:#a24f47; font-family:ww_ultrabold; border:0; color:black;}

input, select, textarea{ box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
::-webkit-input-placeholder { color:grey; }
::-moz-placeholder { color:grey; } /* firefox 19+ */
:-ms-input-placeholder { color:grey; } /* ie */
input:-moz-placeholder { color:grey; }