/* -------------------------------------------------------------- 
   Reset
-------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol,ul {	list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

body {background-color:#287171; font-family: helvetica;}

/* -------------------------------------------------------------- 
   URLs
-------------------------------------------------------------- */
a:link, a:visited, a:hover, a:active { font-weight: bold; text-decoration:none; color: #b89577; }
  
/* -------------------------------------------------------------- 
   Typography
-------------------------------------------------------------- */
/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.75 * 16px = 12px). */
body { font-size: 75%; }

/* -------------------------------------------------------------- 
   Headings
-------------------------------------------------------------- */
h1,h2,h3,h4,h5 {  color:#B87877; font-weight:normal;}

h1 { font-size:2.3em; }
h2 { font-size: 1.8em;  }
h3 { font-size: 1.5em; color:#B8615F;  }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size: 1.5em; color:#B8615F; padding-left:50px; padding-top:5px; }

center { text-align:center; }
li { list-style-type: disc; color: white; }
strong { font-weight: bold;}
white { color:white; }
wrap {white-space: nowrap; } 

/* ---------
   Paddings
----------*/
l1 { padding-left: 20px; }
l2 { padding-left: 50px; }

t1 { padding-top: 3em; }

r1 { padding-left: 20px; }
r2 { padding-left: 50px; }

/* -------------------------------------------------------------- 
   Classes
-------------------------------------------------------------- */
.extrasmall, .small, .medium, .large, .extralarge, .huge, .listings, .logo, #footer { width:100%; margin-top:4px; }
.medium, .large, .extralarge, .huge { background-color:#712928 }
.small, .listings, .footer { background-color:#562d2c; }

.container { margin: 0 auto;  margin-top: -4px; width:800px; background-color:#370F0E; overflow:hidden; }

.extrasmall { height:30px; background-color:#3366cc;  }
.small { height:60px; }
.medium { height: 125px; }
.large { height:200px; overflow:hidden;}
.extralarge {height:300px; overfloww:hidden; }
.huge { height:600px; }
.logo { background:url('http://localhost/images/menu.png'); height:124px; }
.listings { position: relative; height: 65px; }
.footer {height: 55px; width:800px; margin:0 auto; margin-top:4px; text-align:center; clear:left; }
.pad { padding-top:20px; padding-left:30px; }

#left, #mid, #right { margin-top:5px; text-align:center; }
#box { display:inline-block; height:10px; width:10px; background-color:black; }
#box2{ position:absolute; bottom:0; left: 0; display:inline-block; height:10px; width:10px; background-color:black; }
#inlarge {padding-left: 50px; padding-right: 50px;  margin: 0 auto;}
#inlarge h2 { font-weight:  bold; }
#inlarge h3 { padding-top: 20px; }
#largeleft { text-align:right; float:left; padding-top:1%; padding-left:50px; width: 300px;}
#largeleft h3 { padding-top:6px; }
#largeright { text-align:left;float:right; padding-top:1%;  padding-right:50px; width:300px; }

#fleft { float: left; width: 200px; margin-left: -800px; }
#fmid { margin: 0 200px 0 200px;}
#fright { float:left; width: 200px; margin-left: -200px; }

#left, #mid, #right { margin-top:4px }
#left{  float:left; width:250px; margin-left: -800px; }
#mid {  margin: 0 350px 0 250px; margin-top:4px; background-color:#BC7A43; height:57px; }
#mid h3, #right h3 { color:white; padding-top:5px; }
#right {   float:left; width:349px; margin-left:-349px; background-color:#B87877;  height:57px;}

#quote {width:50%; margin: 0 auto; padding-top: 10px; }
#wrapper { float: left; width: 100%}
/* -------------------------------------------------------------- 
   Nav Bar
-------------------------------------------------------------- */

.menu{
margin-top:4px;
width:100%;
font:13px/27px helvetica;
color:#3366cc;
height:30px;
background:#551e1d;
}
.menu a:hover{
background-color:#402929;
color:#B87877;
}
.menu a{/*Color of the links you see*/
text-decoration:none;
padding:6px 8px 7px;
color:#B87877;
outline:none;
}
.menu ul{
list-style:none;
margin:0;
padding:0 0 0 10px;
}
.menu ul li{
list-style-type: none;
padding-left:100px;
float:left;

}
.menu ul li ul li{
padding:0;
float:none;
margin:0 0 0 0px;
width:100%;
}
.menu ul li ul{
position:absolute;
/*border:1px solid #C3D1EC;
box-shadow
-webkit-box-shadow:0 1px 5px #CCCCCC;
   -moz-box-shadow:0 1px 5px #CCCCCC;
        box-shadow:0 1px 5px #CCCCCC;*/
margin-top:-1px;
display:none;
padding:0px 16px 0px 0;
}
.active ul{
display:block !important;
}
.single ul{
display:block !important;
}
.active a{
background-color:#551e1d;
border:1px solid #551e1d;
border-bottom:0;
/*box-shadow*/
display:block;
height:29px;
padding:0 8px 0 8px;
position:relative;
z-index:1;
color:#B87877;
}
/*Styling for the link of the current page*/
.current a{
background-color:#2D2D2D;
border-top:2px solid #DD4B39;/*red ribbon at top*/
border-bottom:0;
display:block;
height:25px;
padding:0 8px 0 8px;
position:relative;
color:#FFFFFF;
font-weight:bold;
}
.active a:hover{
background-color:#551e1d;
color:#B87877;
}
.active ul a:hover{
background-color:#402929;
}
.active ul a{
border:0 !important;
/*box-shadow*/
-webkit-box-shadow:0 0 0 #CCCCCC;
   -moz-box-shadow:0 0 0 #CCCCCC;
        box-shadow:0 0 0 #CCCCCC;
border:0;
width:100%;
}
.arrow{
border-color:#C0C0C0 transparent white;
border-style:solid dashed dashed;
margin-left:5px;
position:relative;
top:10px;
}