body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }
body { font-family: Arial, Helvetica,comic sans ms, sans-serif; }
body {background-color:#5a2400;}
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
    color: white;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #ddd;
  color:            white;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      bold;
 
  color:            white;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  background-color: black;
  color: white;
  }
  
.main{
    width: 800px;
    margin: 0 auto;
overflow:hidden;
}

.mains{
    width: 800px;
    margin: 0 auto;
    overflow:hidden;
}
.quotemain {
    
    font-size: 14px;
    font-weight: bold;
    color:white;
}
.quotemain2 {
    font-weight: bold;
    color:white;
    font-size:14px;
    
    
}
#intro h1{
    font-size: 18px;
    color:white;
    padding-top: 50px;
}
ul#header{
    
    height: 30px;
    background-color: #2d0000;
    list-style: none;
   
   
}
ul#header li{
    padding-top: 4px;
    padding-left:120px;
    float:left;
  
}
ul#header li a{
    
    color: white;
    font-size: 10pt;
    text-decoration: none;
}

#header h1{
    color: #260000;
    font-size: 10pt;
}

#header{
   margin-top: 4px;
    height: 30px;
    background-color:#420000;
    list-style: none;
   
   
}

#menu{
 
    background: url("images/menu.png");
    height: 124px;
     text-align: center;
     font-family: comic sans ms;
}


#menuright{
    height: 100px;
    float:right;
    
}

#menuright h1{
    color:#220800;
    font-size: 16pt;
    padding-top: 12px;
    padding-right:35px;
}

#menuright h2{
    color:#220800;
    font-size: 16pt;
     padding-top: 14px;
    padding-right:35px;
}
#menuleft{
    height: 100px;
    float: left;
    
}

#menuleft h1{
 color:#220800;
    font-size: 16pt;
    padding-top: 28px;
    padding-left:40px;
}

#quote {
    padding-top: 20px;
     margin: 0px auto;
    width:400px;
    
    text-align: center;
}
#quote h1{
    
    color:white;
    font-size: 14pt;
  
}

#quote h2{
    margin-top: 5px;
    color:white;
    font-size: 12pt;
    float:right;
}

#content{
    margin: 0px auto;
    margin-top: 4px;
    background-color: #420000;
    height:125px;
}

#info{
    margin: 0px auto;
    margin-top: 4px;
    background-color: #420000;
    height:300px;
}

#info h1{
  font-size: 16pt;
  color: white;
  margin-left:50px;
  margin-right: 50px;
}

#profile{
    padding-top:10px;
    width:700px;
    margin: 0px auto;
    
}

#profile h1{
  font-size:20px;
  color: white;
}
#footer{
    margin-top: 4px;
    height: 30px;
    background-color:#420000;
    
}

#contact h1{
     padding-top: 5px;
    font-weight:normal;
    font-size: 12pt;
    color: #160000;
    float:left;
    padding-left: 20px;
}

#copyright h1{
    padding-top: 5px;
    font-weight:normal;
    font-size: 12pt;
    color: #160000;
    float:right;
    
}

form { position:relative; }

label {
  display:block;
  margin-top: 5px;
  color:white;
  }

label input {
  position:absolute;
  left:17em;
  margin-top: 5px;
  }